<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="style.css"> -->
</head>
 <body>
  <div id = "app">
      <div class ="holder headline">
        Travel App
      </div>
      <div id="main">
        <div class ="holder data">
          <label id ="label" for="data">Enter City And Date here:</label>
          <input type="text" id="cityEntry" placeholder="Please Enter City Here"><br>
          <input type="date" id="dateEntry" name="date">
        </div>
        <div id="image">
          <img id="img" src="" alt="">
        </div>
        <div class ="holder entry">
            <div class = "title">Most Recent Entry</div>
            <div id = "entryHolder">
              <div id="parameter">
                <!-- <div id = "name1">City Name:</div> 
                <div>Zip Code:</div> -->
                <div id = "city.">City Name:</div>
                <div id = "pressure.">Pressure:</div>
                <div id = "temp-min.">Temperature(Min):</div> 
                <div id = "temp-max.">Temperature(max):</div>
                <div id = "snow-depth.">Snow Depth:</div>
                <div id = "cloudes.">Cloudes:</div>
                <div id = "wind-speed.">Wind Speed:</div>
              </div>
              <div id="value">
                <div id = "city-name"></div>
                <div id = "pressure"></div>
                <div id = "temp-min"></div> 
                <div id = "temp-max"></div>
                <div id = "snow-depth"></div>
                <div id = "cloudes"></div>
                <div id = "wind-speed"></div>
              </div>
            </div>
        </div>
        <div class="but">
          <button id="generate" type = "submit"> Get Weather Detail </button>
        </div>
      </div>
  </div>
</body>
</html>