<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Weather Journal</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="style.css">
</head>
 <body>
  <div id = "app">
      <div class ="holder headline">
        Weather Journal App
      </div>
      <div id="main">
        <div class ="holder zip">
          <label for="zip">Enter Zipcode here:</label>
          <input type="text" id="lon" placeholder="Please Enter lon Here">
          <input type="text" id="lan" placeholder="Please Enter lan Code Here">
        </div>
        <div class ="holder feel">
          <label for="feelings">How are you feeling today?</label>
          <textarea class= "myInput" id="feelings" placeholder="Enter your feelings here"></textarea>
        </div>
        <div class ="holder entry">
            <div class = "title">Most Recent Entry</div>
            <div id = "entryHolder">
              <div id="parameter">
                <!-- <div id = "name1">City Name:</div> 
                <div>Zip Code:</div> -->
                <div id = "pressure.">Pressure:</div>
                <div id = "temp-min.">Temperature(Min):</div> 
                <div id = "temp-max.">Temperature(max):</div>
                <div id = "snow-depth.">Snow Depth:</div>
                <div id = "cloudes.">Cloudes:</div>
                <div id = "wind-speed.">Wind Speed:</div>
              </div>
              <div id="value">
                <div id = "pressure"></div>
                <div id = "temp-min"></div> 
                <div id = "temp-max"></div>
                <div id = "snow-depth"></div>
                <div id = "cloudes"></div>
                <div id = "wind-speed"></div>
              </div>
            </div>
        </div>
        <div class="but">
          <button id="generate" type = "submit"> Get Weather Data </button>
        </div>
      </div>
  </div>
<script src="../js/app.js" type="text/javascript"></script>

</body>
</html>