body{
    background: #fffff8;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.headline{
    text-shadow: 3px 3px 6px rgb(104, 104, 104);
    grid-area: head;
    font-size: 3rem;
    margin:auto;
}

#app{
    display: grid;
    grid-template-rows: 12vh 80vh;
    grid-template-areas: 
    "head"
    "main";
    height:100vh;
    width:80vw;
    min-height: 500px;
    margin:auto;
    background: #e9e9e9;
    color: royalblue;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

#main{
    width:80vw;
    height:100vh;
    grid-area: main;
    display: grid;
    grid-template-columns: 2% 45% 6% 45% 2%;
    grid-template-rows: 25% 20% 24% 10% 1%;
    grid-template-areas: 
    "b zip m entry c"
    "b image m entry c"
    "b image m entry c"
    "b but but but c"
    "b a a a c";
}

#image{
    grid-area: image;
    margin:5px auto;
    overflow: hidden;
    width:100%;
    height:90%;
    margin-top:5%;

}

#image img{
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;

    
}

.data{
    grid-area:zip ; 
}
.feel{
    grid-area:feel ;
}
.entry{
    grid-area:entry ;
    background-color: rgb(235, 235, 235);
    margin:12% 5px 4% 5px;
    padding:4%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
    display: grid;
    grid-template-rows:10% 90% ;
    grid-template-areas: 
    "ti"
    "en";}

    .title{
        grid-area: ti;
/*         background-color: lawngreen; */
        margin:auto;
        font-size: 2rem;
        color:rgb(80, 80, 80);
        text-shadow: 3px 3px 6px rgb(122, 122, 122);
        padding: auto;
    }
    #entryHolder{
        padding-top:2rem;
        grid-area: en;
        display: grid;
        grid-template-columns:48% 4% 48% ;
        grid-template-areas: 
        "pa ma va"; 
    }

    #parameter{grid-area:pa;}
    #value{grid-area: va;}


.but{
    grid-area: but;
}
/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}
input{
    display:block;
    height: 60px;
    /* width: 320px; */
    width:100%;
    background:#ffffff;
    color: Black;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
button{
    width:60%;
    height: 100%;
    margin: 0 20%;
    background: #585858;
    color: #dbdbdb;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

button:hover{
    background: #555555;
    color: #e7e7e7;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

button:active{
    background: #303030;
    color: #b8b8b8;
    text-shadow: 3px 2px 2px rgb(24, 24, 24);
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}



/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;
    text-align: center; 

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;
    text-align: center; 

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: gray; 
    font-family: 'Oswald', sans-serif;
    text-align: center; 
} 

/* ---------------------------------------------------------------------------------- */
@media(max-width:600px){  
    body{
        font-size: 20px;
        width:90vw;
    }
#app{
    display: grid;
    font-size: smaller;
    grid-template-rows: 8vh 92vh;
    grid-template-areas: 
    "head"
    "main";
    height:98vh;
    width:100vw;
    min-height: 50px;
    margin:0; 
    overflow: hidden;    
    }
    
    #main{
        width:100vw;
        height:100vh;
        padding:2%;
        margin:0 10px;
        justify-self: center;
        grid-area: main;
        display: grid;
        grid-template-rows: 12% 5% 32% 25% 10%;
        grid-template-columns: 90%;
        grid-template-areas: 
        "data"
        ".."
        "entry"
        "image"
        "but"; 
    }
    
    #image{
      grid-area: image;

     height:200px;
     width:200px;
    }
        
    .data{
        grid-area:data;
        display: grid;
        grid-template-columns: 2% 45% 6% 45% 2%;
        grid-template-rows: 40px 20px;
        grid-template-areas: 
        "a label label label c"
        "a city b date c";
        
    }

    #cityEntry{grid-area: city;font-size: 20px;}
    #dateEntry{grid-area: date;font-size: 20px;}
    label{grid-area: label;
    font-size: 20px};

     .entry{
        grid-area: entry;
        margin-top: 10%;
        width:80%;
        height:110%;
        display: grid;
        grid-template-rows:7% 90% ;
        grid-template-areas: 
        "ti"
        "en";}
    
        .title{
        grid-area: ti;
        font-size: 18px;
        margin-top:-5px;
        }
        #entryHolder{
            grid-area: en;    
    .but{
        grid-area: but;
        height:10px;
    }

 
    input{
        width:100%;
        height:30px;
        display:block;
        width:100%;
        border-radius: 5px;
        background:#ffffff;
        color: Black;
        text-align: center;
        font-size: 15px;
        border: none;
        -moz-box-shadow:    0 0 ;
        -webkit-box-shadow: 0 0 ;
        box-shadow:         0 0 ;

    }


}}